:root {
    --primary-color: #008800;
    --secondary-color: #c20404;
    --blink-speed: 0.15s;
}

body {
    background-color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 1rem;
}

main {
    margin-inline: auto;
    width: min(90%, 70rem);
    height: 100vh;
    background-color: whitesmoke;
}